<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<real>0.4</real>
	<key>challenges</key>
	<array>
		<dict>
			<key>subtitleKey</key>
			<string>ChallengeEarlyWakeUpSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>nameKey</key>
			<string>ChallengeEarlyWakeUpTitle</string>
			<key>identifier</key>
			<string>ChallengeEarlyWakeUp</string>
			<key>iconName</key>
			<string>challengeIconPick_176</string>
			<key>descriptionKey</key>
			<string>ChallengeEarlyWakeUpDescription</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeContrastShowerTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeContrastShowerSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeContrastShowerDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeContrastShower</string>
			<key>iconName</key>
			<string>challengeIconPick_119</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFruitsAndVegetablesTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFruitsAndVegetablesSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFruitsAndVegetablesDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFruitsAndVegetables</string>
			<key>iconName</key>
			<string>challengeIconPick_15</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyMeditationTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyMeditationSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyMeditationDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyMeditation</string>
			<key>iconName</key>
			<string>challengeIconPick_47</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeGoBedTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeGoBedSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeGoBedDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeGoBed</string>
			<key>iconName</key>
			<string>challengeIconPick_168</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoPhoneMorningTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoPhoneMorningSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoPhoneMorningDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoPhoneMorning</string>
			<key>iconName</key>
			<string>challengeIconPick_69</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceMassage</string>
			<key>iconName</key>
			<string>challengeIconPick_102</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeLymphoMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeLymphoMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeLymphoMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeLymphoMassage</string>
			<key>iconName</key>
			<string>challengeIconPick_270</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceSerumTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceSerumSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceSerumDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceSerum</string>
			<key>iconName</key>
			<string>challengeIconPick_151</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceCareTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceCareSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceCareDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceCare</string>
			<key>iconName</key>
			<string>challengeIconPick_149</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHeadMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHeadMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeHeadMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHeadMassage</string>
			<key>iconName</key>
			<string>challengeIconPick_90</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHairSerumTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHairSerumSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeHairSerumDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHairSerum</string>
			<key>iconName</key>
			<string>challengeIconPick_160</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMinutesOfSilenceTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMinutesOfSilenceSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeMinutesOfSilenceDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMinutesOfSilence</string>
			<key>iconName</key>
			<string>challengeIconPick_156</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceGymnasticsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceGymnasticsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceGymnasticsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceGymnastics</string>
			<key>iconName</key>
			<string>challengeIconPick_90</string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMorningExcersiseTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMorningExcersiseSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeMorningExcersiseDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMorningExcersise</string>
			<key>iconName</key>
			<string>challengeIconPick_23</string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeOutdoorTrainingTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeOutdoorTrainingSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeOutdoorTrainingDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeOutdoorTraining</string>
			<key>iconName</key>
			<string>challengeIconPick_13</string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeSquatsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeSquatsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeSquatsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeSquats</string>
			<key>iconName</key>
			<string>challengeIconPick_12</string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengePushUpsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengePushUpsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengePushUpsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengePushUps</string>
			<key>iconName</key>
			<string>challengeIconPick_13</string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeAbdominalExercisesTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeAbdominalExercisesSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeAbdominalExercisesDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeAbdominalExercises</string>
			<key>iconName</key>
			<string>challengeIconPick_37</string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeVitaminsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeVitaminsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeVitaminsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeVitamins</string>
			<key>iconName</key>
			<string>challengeIconPick_248</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMorningWarmWaterTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMorningWarmWaterSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeMorningWarmWaterDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMorningWarmWater</string>
			<key>iconName</key>
			<string>challengeIconPick_263</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeWaterNormTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeWaterNormSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeWaterNormDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeWaterNorm</string>
			<key>iconName</key>
			<string>challengeIconPick_263</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeBalancedFoodMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeBalancedFoodMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeBalancedFoodMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeBalancedFoodMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_35</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHomeFoodMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHomeFoodMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeHomeFoodMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHomeFoodMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_35</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeExcercises15MinTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeExcercises15MinSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeExcercises15MinDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeExcercises15Min</string>
			<key>iconName</key>
			<string>challengeIconPick_17</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyWalksTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyWalksSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyWalksDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyWalks</string>
			<key>iconName</key>
			<string>challengeIconPick_191</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyCyclingTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyCyclingSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyCyclingDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyCycling</string>
			<key>iconName</key>
			<string>challengeIconPick_7</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoSugarMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoSugarMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoSugarMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoSugarMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_15</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoSweetsMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoSweetsMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoSweetsMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoSweetsMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_15</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoSmokingMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoSmokingMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoSmokingMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoSmokingMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_29</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoAlcoMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoAlcoMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoAlcoMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoAlcoMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_29</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeJoggingMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeJoggingMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeJoggingMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeJoggingMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_27</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoFastfoodMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoFastfoodMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoFastfoodMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoFastfoodMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_35</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyReadingTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyReadingSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyReadingDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyReading</string>
			<key>iconName</key>
			<string>challengeIconPick_109</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeLearnForeignWordsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeLearnForeignWordsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeLearnForeignWordsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeLearnForeignWords</string>
			<key>iconName</key>
			<string>challengeIconPick_53</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeEnglishLearningTimeTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeEnglishLearningTimeSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeEnglishLearningTimeDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeEnglishLearningTime</string>
			<key>iconName</key>
			<string>challengeIconPick_53</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeProductiveWorkTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeProductiveWorkSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeProductiveWorkDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeProductiveWork</string>
			<key>iconName</key>
			<string>challengeIconPick_57</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyProductDevelopmentTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyProductDevelopmentSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyProductDevelopmentDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyProductDevelopment</string>
			<key>iconName</key>
			<string>challengeIconPick_57</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyReelsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyReelsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyReelsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyReels</string>
			<key>iconName</key>
			<string>challengeIconPick_57</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyPhotoTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyPhotoSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyPhotoDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyPhoto</string>
			<key>iconName</key>
			<string>challengeIconPick_70</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyHobbyTimeTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyHobbyTimeSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyHobbyTimeDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyHobbyTime</string>
			<key>iconName</key>
			<string>challengeIconPick_44</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyNewRecipeTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyNewRecipeSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyNewRecipeDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyNewRecipe</string>
			<key>iconName</key>
			<string>challengeIconPick_24</string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeJumpRopeMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeJumpRopeMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeJumpRopeMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeJumpRopeMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_27</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDontOvereatMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDontOvereatMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDontOvereatMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDontOvereatMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_227</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFamilyMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFamilyMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFamilyMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>6</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFamilyMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_203</string>
			<key>categoryID</key>
			<integer>6</integer>
			<key>daysCount</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeOfflineSundayMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeOfflineSundayMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeOfflineSundayMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeOfflineSundayMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_203</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeThanksMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeThanksMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeThanksMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeThanksMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_32</string>
			<key>categoryID</key>
			<integer>6</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeComplimentsMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeComplimentsMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeComplimentsMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeComplimentsMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_32</string>
			<key>categoryID</key>
			<integer>6</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeSmileMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeSmileMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeSmileMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeSmileMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_156</string>
			<key>categoryID</key>
			<integer>6</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengegymnasticsForFeetWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengegymnasticsForFeetWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengegymnasticsForFeetWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengegymnasticsForFeetWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_167</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNailingWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNailingWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNailingWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNailingWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_167</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeLuckWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeLuckWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeLuckWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeLuckWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_44</string>
			<key>categoryID</key>
			<integer>6</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFishThursdayMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFishThursdayMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFishThursdayMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>4</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFishThursdayMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_123</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeVeganSaturdatMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeVeganSaturdatMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeVeganSaturdatMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>6</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeVeganSaturdatMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_15</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeSleepModeWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeSleepModeWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeSleepModeWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeSleepModeWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_168</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeReadBookInWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeReadBookInWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeReadBookInWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeReadBookInWeek</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeBreatheGymnasticsWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeBreatheGymnasticsWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeBreatheGymnasticsWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeBreatheGymnasticsWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_21</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMeditationBeforeBedWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMeditationBeforeBedWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeMeditationBeforeBedWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMeditationBeforeBedWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_22</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeCalmEveningWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeCalmEveningWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeCalmEveningWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeCalmEveningWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_174</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeEyesGymnasticsWeekTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeEyesGymnasticsWeekSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeEyesGymnasticsWeekDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeEyesGymnasticsWeek</string>
			<key>iconName</key>
			<string>challengeIconPick_147</string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeTennisThursdayMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeTennisThursdayMonthSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeTennisThursdayMonthDescription</string>
			<key>regularity</key>
			<array>
				<integer>4</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeTennisThursdayMonth</string>
			<key>iconName</key>
			<string>challengeIconPick_130</string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
