<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<real>0.2</real>
	<key>challenges</key>
	<array>
		<dict>
			<key>subtitleKey</key>
			<string>ChallengeEarlyWakeUpSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>nameKey</key>
			<string>ChallengeEarlyWakeUpTitle</string>
			<key>identifier</key>
			<string>ChallengeEarlyWakeUp</string>
			<key>iconName</key>
			<string></string>
			<key>descriptionKey</key>
			<string>ChallengeEarlyWakeUpDescription</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeContrastShowerTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeContrastShowerSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeContrastShowerDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeContrastShower</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFruitsAndVegetablesTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFruitsAndVegetablesSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFruitsAndVegetablesDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFruitsAndVegetables</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyMeditationTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyMeditationSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyMeditationDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyMeditation</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeGoBedTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeGoBedSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeGoBedDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeGoBed</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoPhoneMorningTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoPhoneMorningSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoPhoneMorningDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoPhoneMorning</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceMassage</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeLymphoMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeLymphoMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeLymphoMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeLymphoMassage</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceSerumTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceSerumSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceSerumDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceSerum</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceCareTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceCareSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceCareDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceCare</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHeadMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHeadMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeHeadMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHeadMassage</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHairSerumTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHairSerumSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeHairSerumDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHairSerum</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMinutesOfSilenceTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMinutesOfSilenceSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMinutesOfSilence</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceGymnasticsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceGymnasticsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceGymnastics</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMorningExcersiseTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMorningExcersiseSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMorningExcersise</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeOutdoorTrainingTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeOutdoorTrainingSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeOutdoorTraining</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeSquatsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeSquatsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeSquats</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengePushUpsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengePushUpsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengePushUps</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeAbdominalExercisesTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeAbdominalExercisesSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeAbdominalExercises</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeVitaminsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeVitaminsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeVitamins</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMorningWarmWaterTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMorningWarmWaterSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMorningWarmWater</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeWaterNormTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeWaterNormSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeWaterNorm</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeBalancedFoodMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeBalancedFoodMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeBalancedFoodMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
	</array>
</dict>
</plist>
