<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<real>0.2</real>
	<key>challenges</key>
	<array>
		<dict>
			<key>subtitleKey</key>
			<string>ChallengeEarlyWakeUpSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>nameKey</key>
			<string>ChallengeEarlyWakeUpTitle</string>
			<key>identifier</key>
			<string>ChallengeEarlyWakeUp</string>
			<key>iconName</key>
			<string></string>
			<key>descriptionKey</key>
			<string>ChallengeEarlyWakeUpDescription</string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeContrastShowerTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeContrastShowerSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeContrastShowerDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeContrastShower</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFruitsAndVegetablesTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFruitsAndVegetablesSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFruitsAndVegetablesDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFruitsAndVegetables</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyMeditationTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyMeditationSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyMeditationDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyMeditation</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeGoBedTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeGoBedSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeGoBedDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeGoBed</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoPhoneMorningTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoPhoneMorningSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeNoPhoneMorningDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoPhoneMorning</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>1</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceMassage</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeLymphoMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeLymphoMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeLymphoMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeLymphoMassage</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceSerumTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceSerumSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceSerumDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceSerum</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceCareTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceCareSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeFaceCareDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceCare</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHeadMassageTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHeadMassageSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeHeadMassageDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHeadMassage</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHairSerumTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHairSerumSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeHairSerumDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHairSerum</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMinutesOfSilenceTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMinutesOfSilenceSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMinutesOfSilence</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeFaceGymnasticsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeFaceGymnasticsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeFaceGymnastics</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>2</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMorningExcersiseTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMorningExcersiseSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMorningExcersise</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeOutdoorTrainingTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeOutdoorTrainingSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeOutdoorTraining</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeSquatsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeSquatsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeSquats</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengePushUpsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengePushUpsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengePushUps</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeAbdominalExercisesTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeAbdominalExercisesSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeAbdominalExercises</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>3</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeVitaminsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeVitaminsSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeVitamins</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeMorningWarmWaterTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeMorningWarmWaterSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeMorningWarmWater</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeWaterNormTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeWaterNormSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeWaterNorm</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeBalancedFoodMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeBalancedFoodMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeBalancedFoodMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeHomeFoodMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeHomeFoodMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeHomeFoodMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeExcercises15MinTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeExcercises15MinSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeExcercises15Min</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyWalksTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyWalksSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyWalks</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyCyclingTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyCyclingSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyCycling</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoSugarMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoSugarMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoSugarMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoSweetsMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoSweetsMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoSweetsMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoSmokingMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoSmokingMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoSmokingMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoAlcoMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoAlcoMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoAlcoMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeJoggingMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeJoggingMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeJoggingMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeNoFastfoodMonthTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeNoFastfoodMonthSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeNoFastfoodMonth</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>4</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyReadingTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyReadingSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyReadingDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyReading</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeLearnForeignWordsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeLearnForeignWordsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeLearnForeignWordsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeLearnForeignWords</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeEnglishLearningTimeTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeEnglishLearningTimeSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeEnglishLearningTimeDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeEnglishLearningTime</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeProductiveWorkTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeProductiveWorkSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeProductiveWorkDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeProductiveWork</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyProductDevelopmentTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyProductDevelopmentSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyProductDevelopmentDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyProductDevelopment</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyReelsTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyReelsSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyReelsDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyReels</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyPhotoTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyPhotoSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyPhotoDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyPhoto</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyHobbyTimeTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyHobbyTimeSubtitle</string>
			<key>descriptionKey</key>
			<string>ChallengeDailyHobbyTimeDescription</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyHobbyTime</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>nameKey</key>
			<string>ChallengeDailyNewRecipeTitle</string>
			<key>subtitleKey</key>
			<string>ChallengeDailyNewRecipeSubtitle</string>
			<key>regularity</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>identifier</key>
			<string>ChallengeDailyNewRecipe</string>
			<key>iconName</key>
			<string></string>
			<key>categoryID</key>
			<integer>5</integer>
			<key>daysCount</key>
			<integer>30</integer>
		</dict>
	</array>
</dict>
</plist>
